@model Transportes_MVC.Models.Camiones

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar_Camion", "Camiones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(c => c.ID_Camion)
            @Html.HiddenFor(c => c.urlfoto)
            <div>
                @Html.LabelFor(c => c.matricula)
                @Html.TextBoxFor(c => c.matricula, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.matricula, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(c => c.marca)
                @Html.TextBoxFor(c => c.marca, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.marca, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(c => c.tipo_camion)
                @Html.TextBoxFor(c => c.tipo_camion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.tipo_camion, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(c => c.modelo)
                @Html.TextBoxFor(c => c.modelo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.modelo, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(c => c.capacidad)
                @Html.TextBoxFor(c => c.capacidad, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.capacidad, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(c => c.kilometraje)
                @Html.TextBoxFor(c => c.kilometraje, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.kilometraje, null, new { @class = "red" })

            </div>
            <div>
                @Html.LabelFor(c => c.disponibilidad)
                @Html.CheckBoxFor(c => c.disponibilidad, new { @class = "form-check-input" })
            </div>
            <div>
                @Html.LabelFor(d => d.urlfoto)
                <input type="file" name="imagen" id="imagen" />

            </div>
            <div>
                @Html.Label("Chofer")
                @Html.DropDownListFor(c => c.chofer_id, new SelectList(ViewBag.ListaChoferes, "ID_Chofer", "nombre"),
               new { @class = "form-control" })

            </div>

            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
    </div>
}

